{% extends "base.html" %}

{% block title %}Calibration ({{ hostname }}){% endblock %}

{% block printer3d_state %}
<h2>{{ hostname }} - Calibration</h2>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='calibration.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

{% if initialized %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-outline-info btn-block" id="goto">Go to position</button>
        </div>
    </div>
</div>

<hr class="bg-secondary">

{% endif %}

{% macro render_parameter(item) %}
<div class="container" aria-label="{{ item.machine_name }}" data-group="{{ item.group }}">
    <div class="row">
        <div class="col-3">
            <h5>{{ item.human_name }}</h5>
        </div>
        <div class="col-2">
            <h5 class="col text-right" id="{{ item.machine_name }}-state">{{ item.value }}
            </h5>
        </div>
        <div class="col-7">
            {% if item.group == "irradiance_targets" %}
            <input class="form-control {{ item.machine_name }}-cntrl-txt" type="text"
                id="{{ item.machine_name }}-txt" placeholder="Irradiance (mW/cm^2)">
            {% elif ("Tip" in item.human_name) or ("Tilt" in item.human_name) or ("Rotate" in item.human_name) %}
            <input class="form-control {{ item.machine_name }}-cntrl-txt" type="text" id="{{ item.machine_name }}-txt"
                placeholder="Position (mrad)">
            {% else %}
            <input class="form-control {{ item.machine_name }}-cntrl-txt" type="text" id="{{ item.machine_name }}-txt"
                placeholder="Position (um)">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10 text-right">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">-10000</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">-1000</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">-100</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">-10</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">-1</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">1</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">10</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">100</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">1000</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">10000</button>
            </div>
        </div>
    </div>

</div>
{% endmacro %}

{% for group_key, group_label in calibration_groups.items() %}
    {% set items = calibration_data | selectattr('group', 'equalto', group_key) | list %}
    {% if items %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>{{ group_label }}</h4>
            </div>
        </div>
    </div>
    {% for item in items %}
        {{ render_parameter(item) }}
    {% endfor %}
    <hr class="bg-secondary">
    {% endif %}
{% endfor %}

{% if initialized %}
<div class="container">
    <div class="row">
        <div class="col-12">
            Note: Some changes on this page may not take affect until "Go to position" button is clicked
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='lib/ajax-socket.io-4.7.5.min.js') }}"></script>
<script>
    var socket;
    var calibration_data = {{ calibration_data| tojson }};
</script>
<script src="{{ url_for('static', filename='calibration.js') }}"></script>
{% endblock %}