{% extends "base.html" %}

{% block title %}Calibration ({{ hostname }}){% endblock %}

{% block printer3d_state %}
<h2>{{ hostname }} - Calibration</h2>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='calibration.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

{% set has_pivot = false %}
{% for parameter in calibration_data %}
{% if 'pivot' in parameter|lower %}
{% set has_pivot = true %}
{% endif %}
{% endfor %}

{% if initialized and has_pivot %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-outline-info btn-block" id="goto">Set new pivot position</button>
        </div>
    </div>
</div>
<hr class="bg-secondary">
{% endif %}

{% macro render_parameter(item) %}
<div class="container" aria-label="{{ item.machine_name }}" data-group="{{ item.group }}">
    <div class="row">
        <div class="col-3">
            <h5>{{ item.human_name }}</h5>
        </div>
        <div class="col-2">
            <h5 class="col text-right" id="{{ item.machine_name }}-state">{{ item.value }}
            </h5>
        </div>
        <div class="col-7">
            {% if item.group == "Irradiance Targets" %}
            <input class="form-control {{ item.machine_name }}-cntrl-txt" type="text"
                id="{{ item.machine_name }}-txt" placeholder="Irradiance (mW/cm^2)">
            {% elif ("Tip" in item.human_name) or ("Tilt" in item.human_name) or ("Rotate" in item.human_name) %}
            <input class="form-control {{ item.machine_name }}-cntrl-txt" type="text" id="{{ item.machine_name }}-txt"
                placeholder="Position (mrad)">
            {% else %}
            <input class="form-control {{ item.machine_name }}-cntrl-txt" type="text" id="{{ item.machine_name }}-txt"
                placeholder="Position (um)">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10 text-right">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">-10000</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">-1000</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">-100</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">-10</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">-1</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">1</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">10</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">100</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">1000</button>
                <button type="button" class="btn btn-outline-info {{ item.machine_name }}-cntrl-btn">10000</button>
            </div>
        </div>
    </div>

</div>
{% endmacro %}

{% for group_label in calibration_data | map(attribute='group') | unique | list %}
    {% set items = calibration_data | selectattr('group', 'equalto', group_label) | list %}
    {% if items %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>{{ group_label }}</h4>
            </div>
        </div>
    </div>
    {% for item in items %}
        {{ render_parameter(item) }}
    {% endfor %}
    <hr class="bg-secondary">
    {% endif %}
{% endfor %}

{% if initialized %}
<div class="container">
    <div class="row">
        <div class="col-12">
            Note: Some changes on this page may not take affect until "Go to position" button is clicked
        </div>
    </div>
</div>
{% endif %}

<hr class="bg-secondary">

<div class="container calibration-prints">
    <div class="row">
        <div class="col-12">
            <h4>Calibration Prints</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div id="calibration-print-list" class="list-group calibration-print-list"></div>
        </div>
        <div class="col-8">
            <div id="calibration-print-empty" class="text-muted">Select a calibration print to view details.</div>
            <div id="calibration-print-details" class="d-none">
                <div id="calibration-print-alerts" class="top-buffer"></div>
                <h4 id="calibration-print-name" class="top-buffer"></h4>
                <div id="calibration-print-variables"></div>
                <div class="row">
                    <div class="col-12 text-right">
                        <button type="button" class="btn btn-outline-info" id="calibration-print-add">Add to queue</button>
                    </div>
                </div>
                <h5>Description</h5>
                <div id="calibration-print-readme" class="calibration-print-readme"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='lib/ajax-socket.io-4.7.5.min.js') }}"></script>
<script>
    var socket;
    var calibration_data = {{ calibration_data| tojson }};
</script>
<script src="{{ url_for('static', filename='calibration.js') }}"></script>
{% endblock %}