{% extends "base.html" %}

{% block title %}Test Plot{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/chart.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<container>
    <div class="light-source-row light-source-temperature" id="light-source-temperature"></div>
</container>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/ajax-socket.io-2.1.0.min.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/plotly-1.39.4.min.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/plotly-1.54.6.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
{% endblock %}