{% extends "base.html" %}

{% block title %}Home ({{ hostname }}){% endblock %}

{% block printer3d_state %}
<h2 id='printer-state'></h2>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<div class="row mb-2" id="printer-controls">
    <div class="col-auto mr-auto">
        <button type="button" class="printer-btn btn btn-lg btn-outline-info d-none" data-toggle="modal"
            data-target="#confirmModal" id="init-btn">Initialize</button>
        <button type="button" class="printer-btn btn btn-lg btn-outline-info d-none" data-toggle="modal"
            data-target="#confirmModal" id="plana1-btn">Planarize</button>
        <button type="button" class="printer-btn btn btn-lg btn-outline-info d-none" data-toggle="modal"
            data-target="#confirmModal" id="plana2-btn">Finish planarizion</button>
        <button type="button" class="printer-btn btn btn-lg btn-outline-success d-none" data-toggle="modal"
            data-target="#confirmModal" id="start-btn" disabled>Start</button>
        <button type="button" class="printer-btn btn btn-lg btn-outline-info d-none" data-toggle="modal"
            data-target="#confirmModal" id="pause-btn">Pause</button>
        <button type="button" class="printer-btn btn btn-lg btn-outline-success d-none" data-toggle="modal"
            data-target="#confirmModal" id="resume-btn">Resume</button>
        <button type="button" class="printer-btn btn btn-lg btn-outline-info d-none" data-toggle="modal"
            data-target="#confirmModal" id="stop-btn">Stop</button>
    </div>
    <div class="col-auto">
        <button class="btn btn-lg btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseUpload"
            aria-expanded="false" aria-controls="collapseUpload" id="create-job">Upload a job</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="print-alert-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="print-alert-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    id="print-alert-cancel">Cancel</button>
                <button type="button" class="btn btn-outline-info" data-dismiss="modal"
                    id="print-alert-confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="progress d-none" id="print-progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" id="print-progress-bar"
        role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="collapse" id="collapseUpload">
    <div class="panel panel-default">
        <div class="card card-body">
            <div class="panel-body">
                <small>Select files from your computer</small>
                <div class="form-inline">
                    <button type="button" class="btn btn-sm btn-outline-info"
                        onClick="document.getElementById('file-picker').click();" id="choose-file">Choose</button>&nbsp;
                    <input id="file-picker" multiple="" name="file" style="display:none" type="file" accept=".zip">
                    <span id="file-number">No files selected</span>
                    <button type="button" class="ml-auto btn btn-sm btn-outline-info" id="upload-btn">Upload</button>
                </div>

                <!-- Drop Zone -->
                <small>Or drag and drop files below</small>
                <div class="upload-dropbox" id="dropbox">
                    Just drag and drop files here
                </div>

                <!-- Progress Bar -->
                <div class="progress d-none" id="upload-progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                        id="upload-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                        aria-valuemax="100" style="width:0%;">
                        <span class="sr-only" id="upload-completion">0%</span>
                    </div>
                </div>

                <ul class="list-group" id="selected-files">
                </ul>
            </div>
        </div>
    </div>
</div>

<hr>

<h5>Jobs in queue</h5>

<table class="table table-hover" id="job-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Upload Time</th>
            <th scope="col">Upload IP</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for job in allJobs %}
        <tr id="row-{{ job.id }}" class="clickable-row">
            <th scope="row">{{ loop.index }}</th>
            <td>{{ job.original_filename }}</td>
            <td>{{ job.upload_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            <td>{{ job.upload_ip }}</td>
            <td><a class="btn btn-sm btn-outline-warning delete-job" id="delete-job{{ job.id }}" role="button"
                    aria-pressed="true" data-toggle="modal" data-target="#confirmModal">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>


<div class="row mb-2">
    <div class="col-auto mr-auto">
        <h5>Messages</h5>
    </div>
    <div class="col-auto">
        <button class="btn btn-sm btn-outline-secondary" type="button" id="clear-print-message">Clear</button>
    </div>
</div>

<div class="border rounded px-3 py-2" data-spy="scroll" data-offset="0" id="print-message">
</div>


<hr>

<div class="row mb-5">
    <div class="col-auto mr-auto">
        <button type="button" class="printer-btn btn btn-sm btn-outline-danger d-none" data-toggle="modal"
            data-target="#confirmModal" id="shutdown-btn">Shutdown</button>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='lib/ajax-socket.io-2.1.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}