{% extends "base.html" %}

{% block title %}Loadcell Data ({{ hostname }}){% endblock %}

{% block printer3d_state %}
<h2>Loadcell Data</h2>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='loadcell.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<container>
    <div class="loadcell-row loadcell-data" id="loadcell-data"></div>
</container>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='lib/ajax-socket.io-2.1.0.min.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='lib/plotly-1.39.4.min.js') }}"></script> -->
<script src="{{ url_for('static', filename='lib/plotly-1.54.6.min.js') }}"></script>
<script src="{{ url_for('static', filename='loadcell.js') }}"></script>
{% endblock %}
