{% extends "base.html" %}

{% block title %}Manual Controls ({{ hostname }}){% endblock %}

{% block printer3d_state %}
<h2>Manual Controls</h2>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='manual_controls.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<!-- External Control -->
<div class="container">
    <div class="container">
        <div class="row top-buffer">
            <div class="col-6">
                <h3>External Control</h3>
            </div>
            <div class="col-6">
                <div id="external_enable" class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                    <label class="btn btn-outline-info btn-fixed-width shadow-none">Enabled<input type="radio"></label>
                    <label class="btn btn-outline-info btn-fixed-width shadow-none active">Disabled<input
                            type="radio"></label>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Calibration Motor Control -->
<div class="container motor-controls">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h3>Focus Controls</h3>
            </div>
            <div class="col-3">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                    <label class="btn btn-outline-info btn-fixed-width shadow-none active"><input type="radio"
                            checked>Precise</label>
                    <label class="btn btn-outline-info btn-fixed-width shadow-none"><input type="radio"
                            id="quick_move">Fast</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Tip -->
    <div class="container" aria-label="Tip">
        <div class="row">
            <div class="col-4">
                <h5>Tip</h5>
            </div>
            <div class="col-2">
                <h5 class="col text-right" id='tip-state'>{{ tip_position }}</h5>
            </div>
            <div class="col-6">
                <input class="form-control mtr-cntrl-txt" type="text" id="tip-txt" placeholder="Position (um)">
            </div>
        </div>

        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-2 text-left">
                <button type="button" class="btn btn-outline-info btn-block home-btn" id="tip-home-btn">Home</button>
            </div>
            <div class="col-8 text-right">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">-1000</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">-100</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">-10</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">-1</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">1</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">10</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">100</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">1000</button>
                </div>
            </div>
        </div>

    </div>

    <!-- Tilt -->
    <div class="container" aria-label="Tilt">
        <div class="row">
            <div class="col-4">
                <h5>Tilt</h5>
            </div>
            <div class="col-2">
                <h5 class="col text-right" id='tilt-state'>{{ tilt_position }}</h5>
            </div>
            <div class="col-6">
                <input class="form-control mtr-cntrl-txt" type="text" id="tilt-txt" placeholder="Position (um)">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-2 text-left">
                <button type="button" class="btn btn-outline-info btn-block home-btn" id="tilt-home-btn">Home</button>
            </div>
            <div class="col-8 text-right">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">-1000</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">-100</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">-10</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">-1</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">1</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">10</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">100</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">1000</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Distance -->
    <div class="container" aria-label="Distance">
        <div class="row">
            <div class="col-4">
                <h5>Distance</h5>
            </div>
            <div class="col-2">
                <h5 class="col text-right" id='dist-state'>{{ dist_position }}</h5>
            </div>
            <div class="col-6">
                <input class="form-control mtr-cntrl-txt" type="text" id="distance-txt" placeholder="Position (um)">
            </div>
        </div>
        <div class="row">
            <div class="col-2 text-left">
            </div>
            <div class="col-2 text-left">
                <button type="button" class="btn btn-outline-info btn-block home-btn" id="dist-home-btn">Home</button>
            </div>
            <div class="col-8 text-right">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">-1000</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">-100</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">-10</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">-1</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">1</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">10</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">100</button>
                    <button type="button" class="btn btn-outline-info mtr-cntrl-btn">1000</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Galil Control -->
<div class="container galil">
    <div class="row top-buffer">
        <div class="col-12">
            <h3>Main Stage Control</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h5 class="col text-right" id='galil-position'>?</h5>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-outline-info btn-block" id="galil-home-btn">Home</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-outline-info btn-block" id="galil-top-btn">Go to Top</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-outline-info btn-block" id="galil-bottom-btn">Go to Bottom</button>
        </div>
    </div>
</div>

<!-- Visitech Control -->
<div class="container top-buffer light-engine">
    <div class="row">
        <div class="col-12">
            <h3>Visitech</h3>
        </div>
    </div>

    <!-- Upload Image -->
    <div class="row">
        <h5 class="col-4 text-left">Image</h5>
        <form class="col-5">
            <input type="file" class="form-control-file" name="file" accept=".png" id="file-picker">
            <div class="invalid-feedback">
                Please provide an 8-bit grayscale PNG file.
            </div>
        </form>
        <div class="col-3">
            <button type="button" class="btn btn-outline-info btn-block" id="upload-btn">Upload</button>
        </div>
    </div>

    <!-- LED Power -->
    <div class="row">
        <h5 class="col-3 text-left">LED Power</h5>
        <h5 class="col-1 text-left" id="led-power-label"></h5>
        <div class="slidecontainer col-8"><input type="range" min="1" max="200" value="100" class="slider"
                id="led-power-slider"></div>
    </div>

    <!-- Repeat and Exposure Time -->
    <div class="row">
        <h5 class="col-4 text-left">Exposure</h5>
        <div class="col-2 form-group text-center">
            <input class="form-check-input" type="checkbox" value="" id="repeat-chkbx">
            <label class="form-check-label" for="repeat-chkbx">Repeat</label>
        </div>
        <div class="col-6 form-group">
            <input class="form-control" type="text" id="exposure-txt" placeholder="Exposure Time (ms)">
            <div class="invalid-feedback">
                Please provide an integer greater than zero.
            </div>
        </div>
    </div>

    <!-- Start Stop -->
    <div class="row">
        <h5 class="col-6">Project</h5>
        <div class="col-3"><button type="button" class="btn btn-outline-info btn-block" id="le-start-btn">Start</button>
        </div>
        <div class="col-3"><button type="button" class="btn btn-outline-info btn-block" id="le-stop-btn">Stop</button>
        </div>
    </div>

</div>

<!-- Wintech Control -->
<div class="container top-buffer light-engine">
    <div class="row">
        <div class="col-12">
            <h3>Wintech</h3>
        </div>
    </div>

    <!-- Upload Image -->
    <div class="row">
        <h5 class="col-4 text-left">Image</h5>
        <form class="col-5">
            <input type="file" class="form-control-file" name="file" accept=".png" id="file-picker-wintech">
            <div class="invalid-feedback">
                Please provide an 8-bit grayscale PNG file.
            </div>
        </form>
        <div class="col-3">
            <button type="button" class="btn btn-outline-info btn-block" id="upload-btn-wintech">Upload</button>
        </div>
    </div>

    <!-- LED Power -->
    <div class="row">
        <h5 class="col-3 text-left">LED Power</h5>
        <h5 class="col-1 text-left" id="led-power-label-wintech"></h5>
        <div class="slidecontainer col-8"><input type="range" min="1" max="200" value="100" class="slider"
                id="led-power-slider-wintech"></div>
    </div>

    <!-- Repeat and Exposure Time -->
    <div class="row">
        <h5 class="col-4 text-left">Exposure</h5>
        <div class="col-2 form-group text-center">
            <input class="form-check-input" type="checkbox" value="" id="repeat-chkbx-wintech">
            <label class="form-check-label" for="repeat-chkbx-wintech">Repeat</label>
        </div>
        <div class="col-6 form-group">
            <input class="form-control" type="text" id="exposure-txt-wintech" placeholder="Exposure Time (ms)">
            <div class="invalid-feedback">
                Please provide an integer greater than zero.
            </div>
        </div>
    </div>

    <!-- Start Stop -->
    <div class="row">
        <h5 class="col-6">Project</h5>
        <div class="col-3"><button type="button" class="btn btn-outline-info btn-block"
                id="le-start-btn-wintech">Start</button>
        </div>
        <div class="col-3"><button type="button" class="btn btn-outline-info btn-block"
                id="le-stop-btn-wintech">Stop</button>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='lib/ajax-socket.io-2.1.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='manual_controls.js') }}"></script>
{% endblock %}