{% extends "base.html" %}

{% block title %}Manual Controls ({{ hostname }}){% endblock %}

{% block printer3d_state %}
<h2>{{ hostname }} - Manual Controls</h2>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='manual_controls.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

{% if initalized %}

{% for driver, dict in hardware.items() %}
{% include dict['path'] %}
<hr class="bg-secondary">
{% endfor %}

{% else %}

{% if "external_control" in hardware.keys() %}
{% include hardware['external_control']['path'] %}
<hr class="bg-secondary">
{% endif %}

<h5> Printer must be initalized to access manual controls </h5>

{% endif %}

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='lib/ajax-socket.io-2.1.0.min.js') }}"></script>
<script>
    var socket;
    var hardware = {{ hardware| tojson }};
</script>
<script src="{{ url_for('static', filename='manual_controls.js') }}"></script>
{% endblock %}