{% extends "base.html" %}

{% block title %}Manual Controls ({{ hostname }}){% endblock %}

{% block printer3d_state %}
<h2>Manual Controls</h2>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='manual_controls.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<!-- External Control -->
<div class="container">
    <div class="container">
        <div class="row top-buffer">
            <div class="col-6">
                <h3>External Control</h3>
            </div>
            <div class="col-6">
                <div id="external_enable" class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                    <label class="btn btn-outline-info btn-fixed-width shadow-none">Enabled<input type="radio"></label>
                    <label class="btn btn-outline-info btn-fixed-width shadow-none active">Disabled<input
                            type="radio"></label>
                </div>
            </div>
        </div>
    </div>
</div>

{% for path in hardware %}
{% include url_for('static', filename=path) %}
{% endfor %}

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='lib/ajax-socket.io-2.1.0.min.js') }}"></script>
<script> var socket; </script>
<script src="{{ url_for('static', filename='manual_controls.js') }}"></script>
{% endblock %}