{% extends "base.html" %}

{% block title %}{{ hostname }} - Print History{% endblock %}

{% block printer3d_state %}
<h2>{{ hostname }} - Print History</h2>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='print_history.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if session_view %}active{% endif %}" href="{{ url_for('print_history.index', session_view='true') }}" id="session-view-tab">Session View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if not session_view %}active{% endif %}" href="{{ url_for('print_history.index', session_view='false') }}" id="print-view-tab">Print View</a>
    </li>
</ul>

<br>

<div id="main-table-container"></div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='lib/ajax-socket.io-4.7.5.min.js') }}"></script>
<script>
    var session_view = {{ session_view|tojson }};
</script>
<script src="{{ url_for('static', filename='print_history.js') }}"></script>
{% endblock %}