{% extends "base.html" %}

{% block title %}Print History ({{ hostname }}){% endblock %}

{% block printer3d_state %}
<h2>{{ hostname }} - Print History</h2>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='print_history.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}


<container>
    <div class="row justify-content-center">
        <label>Filter by Start Time</label>
        <input type="date" name="start_time" id="start-date" value="{{ start_date }}">
        <input type="date" name="start_time" id="end-date" value="{{ end_date }}">
        <button type="button" class="btn btn-outline-info" id="apply_button">Apply</button>
    </div>
</container>

<hr>

{# Pagination #}

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th scope="col" class="justify-center">Name</th>
            <th scope="col" class="justify-center">Start Time</th>
            <th scope="col" class="justify-center">End Time</th>
            <th scope="col" class="justify-center">Upload Time</th>
            <th scope="col" class="justify-center">Print Time</th>
            <th scope="col" class="justify-center">Completed</th>
            <th scope="col" class="justify-center">Reprint</th>
        </tr>
    </thead>
    <tbody>
        {% for rec in print_records.items %}
        <tr id="row-{{ rec.id }}">
            <td class="align-middle"><a href="{{ url_for('print_history.download', job_id=rec.id) }}">{{
                    rec.original_filename }}</a></td>
            <td class="align-middle justify-center">{{ rec.start_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            {% if rec.end_time %}
            <td class="align-middle justify-center">{{ rec.end_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            <td class="align-middle justify-center">{{ rec.upload_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            <td class="align-middle justify-center">{{ '%02d:%02d:%02d' % ((rec.end_time -
                rec.start_time).total_seconds() // 3600, ((rec.end_time - rec.start_time).total_seconds() % 3600) // 60,
                (rec.end_time - rec.start_time).total_seconds() % 60) }}</td>
            {% else %}
            <td class="align-middle justify-center"></td>
            <td class="align-middle justify-center">{{ rec.upload_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            <td class="align-middle justify-center"></td>
            {% endif %}
            <td class="align-middle justify-center">{{ 'Yes' if rec.completed else 'No' }}</td>
            <td class="align-middle justify-center"><button type="button" class="btn btn-outline-info btn-sm">Add to
                    queue</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Print Record">
    <ul class="pagination justify-content-center">

        {# Previous page #}
        {% if print_records.has_prev %}
        <li class="page-item">
            {% else %}
        <li class="page-item disabled">
            {% endif %}
            <a class="page-link"
                href="{{ url_for('print_history.index', current_page=print_records.prev_num, start=start_date, end=end_date) }}"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        {% if boundaries[0] %}
        <li class="page-item">
            <a class="page-link"
                href="{{ url_for('print_history.index', current_page=1, start=start_date, end=end_date) }}">
                1
            </a>
        </li>
        <li class="page-item">
            <a class="page-link"
                href="{{ url_for('print_history.index', current_page=2, start=start_date, end=end_date) }}">
                2
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">...</a>
        </li>
        {% endif %}

        {% for i in range(start, end+1) %}
        {% if i == print_records.page %}
        <li class="page-item active">
            {% else %}
        <li class="page-item">
            {% endif %}
            <a class="page-link"
                href="{{ url_for('print_history.index', current_page=i, start=start_date, end=end_date) }}">{{ i }}</a>
        </li>
        {% endfor %}

        {% if boundaries[1] %}
        <li class="page-item disabled">
            <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item">
            <a class="page-link"
                href="{{ url_for('print_history.index', current_page=print_records.pages-1, start=start_date, end=end_date) }}">
                {{ print_records.pages-1 }}
            </a>
        </li>
        <li class="page-item">
            <a class="page-link"
                href="{{ url_for('print_history.index', current_page=print_records.pages, start=start_date, end=end_date) }}">
                {{ print_records.pages }}
            </a>
        </li>
        {% endif %}

        {# Next page #}
        {% if print_records.has_next %}
        <li class="page-item">
            {% else %}
        <li class="page-item disabled">
            {% endif %}
            <a class="page-link"
                href="{{ url_for('print_history.index', current_page=print_records.next_num, start=start_date, end=end_date) }}"
                aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>

    </ul>
</nav>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='lib/ajax-socket.io-2.1.0.min.js') }}"></script>
<script> var print_history_url = "{{ url_for('print_history.index') }}" </script>
<script src="{{ url_for('static', filename='print_history.js') }}"></script>
{% endblock %}