{% extends "base.html" %}

{% block title %}3D Printer{% endblock %}

{% block printer3d_state %}
<h2>Print Record</h2>
{% endblock %}

{% block styles %}
{{ super() }}

<style>
    .container {
        max-width: 1000px;
    }
</style>

<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}

<form class="form-inline mb-4">
    <label for="datepicker-from">Start Time From</label>
    <input id="datepicker-from" width="160" value="{{ startDate }}" />

    <label for="datepicker-to">To</label>
    <input id="datepicker-to" width="160" value="{{ endDate }}" />

    <button type="button" class="btn btn-primary" id="submit">Submit</button>
</form>



{# Pagination #}
<nav aria-label="Print Record">
    <ul class="pagination justify-content-center">

        {# Previous page #}
        {% if recs.has_prev %}
        <li class="page-item">
            {% else %}
        <li class="page-item disabled">
            {% endif %}
            <a class="page-link"
                href="{{ url_for('digital.archive', page=recs.prev_num, start=startDate, end=endDate) }}"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        {% if startPage > 3 %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('digital.archive', page=1, start=startDate, end=endDate) }}">
                1
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ url_for('digital.archive', page=2, start=startDate, end=endDate) }}">
                2
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">...</a>
        </li>
        {% endif %}

        {% for i in range(startPage, endPage+1) %}
        {% if i == recs.page %}
        <li class="page-item active">
            {% else %}
        <li class="page-item">
            {% endif %}
            <a class="page-link"
                href="{{ url_for('digital.archive', page=i, start=startDate, end=endDate) }}">{{ i }}</a>
        </li>
        {% endfor %}

        {% if endPage < recs.pages-3 %}
        <li class="page-item disabled">
            <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item">
            <a class="page-link"
                href="{{ url_for('digital.archive', page=recs.pages-1, start=startDate, end=endDate) }}">
                {{ recs.pages-1 }}
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ url_for('digital.archive', page=recs.pages, start=startDate, end=endDate) }}">
                {{ recs.pages }}
            </a>
        </li>
        {% endif %}

        {# Next page #}
        {% if recs.has_next %}
        <li class="page-item">
            {% else %}
        <li class="page-item disabled">
            {% endif %}
            <a class="page-link"
                href="{{ url_for('digital.archive', page=recs.next_num, start=startDate, end=endDate) }}"
                aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>

    </ul>
</nav>

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Upload Time</th>
            <th scope="col">Upload IP</th>
            <th scope="col">Start Time</th>
            <th scope="col">Start IP</th>
            <th scope="col">End Time</th>
            <th scope="col">Completed</th>
        </tr>
    </thead>
    <tbody>
        {% for rec in recs.items %}
        <tr id="row-{{ rec.id }}">
            <th scope="row">{{ rec.id }}</th>
            <td>{{ rec.original_filename }}</td>
            <td>{{ rec.upload_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            <td>{{ rec.upload_ip }}</td>
            <td>{{ rec.start_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            <td>{{ rec.start_ip }}</td>
            <td>{{ rec.end_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            <td>{{ 'Yes' if rec.completed else 'No' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
<script>
    $('#datepicker-from').datepicker({
        format: 'yyyy-mm-dd',
        uiLibrary: 'bootstrap4'
    });
    $('#datepicker-from').parent().addClass('ml-1 mr-3');

    $('#datepicker-to').datepicker({
        format: 'yyyy-mm-dd',
        uiLibrary: 'bootstrap4'
    });
    $('#datepicker-to').parent().addClass('ml-1 mr-3');

    $('#submit').on('click', function (e) {
        location.href = '{{ url_for('digital.archive') }}' + '?start=' + $('#datepicker-from').val() + '&end=' + $('#datepicker-to').val();
    });
</script>
{% endblock %}