<!-- Coord Systems Control -->
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3>Coordinate System</h3>
            </div>
            <div class="col-8">
                <div id="coord_systems" class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                    {% for coord in hardware['coord_systems'].keys() %}
                    {% if 'path' not in coord and not 'active' in coord %}
                    <label
                        class="btn btn-outline-info shadow-none {% if coord == hardware['coord_systems']['active'] %} active {% endif %}">{{
                        coord|capitalize }}<input type="radio"></label>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('manual_controls.static', filename='coord_systems/coord_systems_snip.js') }}"></script>