
{% extends "base.html" %}

{% block title %}3D Printer Calibration{% endblock %}

{% block printer3d_state %}
<h2>Calibration Controls</h2>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/calibrate.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<!-- Calibration Motor Control -->
<div class="container motor-controls">
    <div class="row top-buffer align-items-center">
        <h3>Motor Controls</h3>
    </div>

    <!-- Tip -->
    <div class="row align-items-center">
        <div class="col-3 text-left">
            <h4>Tip</h3>
        </div>
        <div class="col-1">
            <h5 class="col text-left" id='tip-state'>0</h5>
        </div>
        <div class="col-8 text-right">
            <div class="btn-group" role="group" aria-label="Tip">
                <button type="button" class="btn btn-primary mtr-cntrl-btn" >-1000</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">-100</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">-10</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">10</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">100</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">1000</button>
            </div>
        </div>
    </div>
    <!-- Tilt -->
    <div class="row align-items-center">
        <div class="col-3 text-left">
            <h4>Tilt</h3>
        </div>
        <div class="col-1">
            <h5 class="col text-left" id='tilt-state'>0</h5>
        </div>
        <div class="col-8 text-right">
            <div class="btn-group" role="group" aria-label="Tilt">
                <button type="button" class="btn btn-primary mtr-cntrl-btn">-1000</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">-100</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">-10</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">10</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">100</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">1000</button>
            </div>
        </div>
    </div>
    <!-- Distance -->
    <div class="row align-items-center">
        <div class="col-3 text-left">
            <h4>Distance</h3>
        </div>
        <div class="col-1">
            <h5 class="col text-left" id='dist-state'>0</h5>
        </div>
        <div class="col-8 text-right">
            <div class="btn-group" role="group" aria-label="Distance">
                <button type="button" class="btn btn-primary mtr-cntrl-btn">-1000</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">-100</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">-10</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">10</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">100</button>
                <button type="button" class="btn btn-primary mtr-cntrl-btn">1000</button>
            </div>
        </div>
    </div>
</div>

<!-- Solus Control -->
<div class="container solus">
    <div class="row top-buffer align-items-center">
        <h3>Solus</h3>
    </div>
    <div class="row align-items-center">
        <div class="col-6">
            <h4>Move to</h4>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#confirmModal" id="solus-top-btn">Top</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#confirmModal" id="solus-bottom-btn">Bottom</button>
        </div>
    </div>  
</div>


<!-- Light Engine Control -->
<div class="container top-buffer light-engine">
    <div class="row align-items-center">
        <h3>Light Engine</h3>
    </div>

    <!-- Upload Image -->
    <div class="row align-items-center">
        <h4 class="col-4 text-left">Image</h4>    
        <form class="col-5">
            <input type="file" class="form-control-file" name="file" id="file-picker">
        </form>    
        <div class="col-3">
            <button type="button" class="btn btn-primary btn-block" id="upload-btn">Upload</button>
        </div>    
    </div>

    <!-- LED Power -->
    <div class="row align-items-center">
        <h4 class="col-3 text-left">LED Power</h4>
        <h5 class="col-1 text-left" id="LedPowerLabel"></h5>
        <div class="slidecontainer col-8"><input type="range" min="1" max="1000" value="100" class="slider" id="LedPowerSlider"></div>
    </div>

    <!-- Repeat and Exposure Time -->
    <div class="row align-items-center">
        <h4 class="col-4 text-left">Exposure</h4>    
        <div class="col-2 form-group text-center">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Repeat</label>
        </div>
        <div class="col-6 form-group">
            <input class="form-control" type="text" placeholder="Exposure Time (ms)">
        </div>
    </div>

    <!-- Start Stop -->
    <div class="row align-items-center">
        <h4 class="col-6">Project</h4>
        <div class="col-3"><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#confirmModal" id="init-btn">Start</button></div>
        <div class="col-3"><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#confirmModal" id="init-btn">Stop</button></div>
    </div>

</div>
    

<!-- Auto Calibration -->
<div class="container top-buffer">
    <div class="row align-items-center">
        <h3>Auto Calibration</h3>
    </div>

    <!-- Repeat and Exposure Time -->
    <div class="row align-items-center form-inline">
        <div class="col-6 form-group ip-input">
            <input class="form-control" type="text" placeholder="IP Address for Pi">
        </div>
        <div class="col-3"><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#confirmModal" id="auto-calibrate-start">Start</button></div>
        <div class="col-3"><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#confirmModal" id="auto-calibrate-stop">Stop</button></div>    
    </div>
</div>
    
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/calibrate.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/calibrate_upload.js') }}"></script> -->
{% endblock %}
