.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.jumbotron {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1.5rem;
}

.navbar {
  padding: 0
}

.jumbotron h2 {
  margin-bottom: 0;
}

/* scrollbar width */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 3px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

/* scrollbar handle hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 3px;
}