.loadcell-data {
  height: 500px;
}

.btn {
	cursor: pointer;
}

/* extra margin for rows with large headings */
.top-buffer {
     margin-top:20px;
    }

.container {
  padding-left: 0px;
  padding-right: 0px;
}