a {
    color: #3498DB;
}

a:hover {
    color: #375a7f;
}

/* .container {
    max-width: 1000px;
} */

/* Date picker formatting  */

pre {
    font-family: "Lato";
    --font-family-sans-serif: "Lato";
    font-size: 1rem;
    margin-bottom: 0;
}