
<div class="modal-dialog modal-lg"
        role="document">
    <div class="modal-content">
        <form id="register-form">
            {{ register_form.hidden_tag() }}
            <div class="modal-header">
                <h5 class="modal-title">
                    Register New User
                </h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- hidden edit field -->
                {{ register_form.edit }}
                {{ register_form.edit_user_id }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ register_form.first_name.label }}
                        {{ register_form.first_name(
                            class="form-control"
                        ) }}
                        {% for error in register_form.first_name.errors %}
                        <div class="text-danger small">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ register_form.last_name.label }}
                        {{ register_form.last_name(
                            class="form-control"
                        ) }}
                        {% for error in register_form.last_name.errors %}
                        <div class="text-danger small">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    {{ register_form.email.label }}
                    {{ register_form.email(
                        class="form-control"
                    ) }}
                    {% for error in register_form.email.errors %}
                    <div class="text-danger small">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ register_form.username.label }}
                    {{ register_form.username(
                        class="form-control"
                    ) }}
                    {% for error in register_form.username.errors %}
                    <div class="text-danger small">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <!-- if password.data, fill in password data field -->
                    {{ register_form.password.label }}
                    <!-- {{ register_form.password(
                        class="form-control"
                    ) }} -->
                    <input class="form-control" id="password" maxlength="40" minlength="6" name="password", required type="password" value="{{ register_form.password.data if register_form.password.data else '' }}">
                    {% for error in register_form.password.errors %}
                    <div class="text-danger small">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ register_form.confirm.label }}
                    <!-- {{ register_form.confirm(
                        class="form-control"
                    ) }} -->
                    <input class="form-control" id="confirm" maxlength="40" minlength="6" name="confirm", required type="password" value="{{ register_form.password.data if register_form.password.data else '' }}">
                    {% for error in register_form.confirm.errors %}
                    <div class="text-danger small">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button"
                        class="btn btn-secondary"
                        id="backToSessionModal">
                    Back
                </button>
                <button type="submit"
                        class="btn btn-success">
                    {% if register_form.edit.data %}
                    Update User
                    {% else %}
                    Create User
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
</div>